body{
     font-family: 'Courier New',monospace;
    font-size: 18px; 
    margin-top: 0px;
 } 

body .topBar{
    display: flex;
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.calendarTitle{
    font-family: monospace;
    font-weight: lighter;
    margin-right: 64px;
    font-size: 12px;
}

 #todayButton{
     display: inline-block;
     width: 50px;
     height: 30px;
     background-color:white;
 }

 #scheduleButton{
     display:inline-block;
     width:150px;
     height: 30px;
     background-color: white;
     margin-left: 50px;
 }

#prevButton,
#nextButton{
    cursor: pointer;
    user-select: none;  /*範囲設定できるかどうか */
    margin-left: 24px;
    font-size: 24px;
    width: 30px;
    height: 30px;
    text-align: center;
}

#nextButton{
    margin-right: 24px;
}

#date{
    font-size: 24px;
    font-weight: bold;
}

table{
    border-collapse: collapse;
    width:100%;
}

thead th{
    background-color: #eee;
    height: 30px;
}

th,td{
    text-align: center;
    vertical-align: top;
    border: 2px solid #eee;
    height: 120px;
}

tbody td:first-child{
    color: red;
}
tbody td:last-child{
    color: blue;
}

td.disabled{
    opacity: 0.3;
}

td.today{
    font-weight: bold;
}

#inputForm{
    position: absolute;
    background-color: white;
    left: 700px;
    right: 700px;
    top: 200px;
    bottom: 200px;
    margin: auto;
    box-shadow: 0 10px 25px 0 rgba(8, 24, 29, 0.7);
}

#inputForm .topBar{
    background-color: rgb(211, 211, 211);
    bottom: 50px;
    font-size: 24px;
    cursor: move;
}

#inputForm .exit{
    position: absolute;
    top: 0px;
    bottom: 510px;
    left: 490px;
    right: 0px;
    margin: auto;
    text-align: center;
    font-size: 32px;
    display: inline-block;
    z-index: 2;
    cursor: pointer;
}
